.footerWrapper {
  background-color: $brown-color;
  padding: 50px 0px;
}

.footerInnerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    ul {
      display: flex;
      li {
        margin-right: 40px;
      }
    }
  }
  ul > li {
    white-space: nowrap;
    a {
      color: $white;
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
    }
  }

  .footerRightDiv {
    h3 {
      color: $white;
      font-size: 20px;
      font-weight: 700;
      font-family: $secondary-font;
    }
    h4 {
      color: $white;
      font-size: 16px;
      font-weight: 700;
      text-decoration: underline;
      font-family: $primary-font;
    }
    h5 {
      color: $white;
      font-size: 16px;
      font-weight: 400;
      font-family: $primary-font;
    }
  }
}
