.wrapper {
  padding: 50px 0px;
  > h1 {
    font-size: 27px;
    font-weight: 400;
    color: $brown-color;
    text-align: center;
    margin: 30px 0px 70px 0px;
    font-family: $secondary-font;
  }
}
